<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }} {% endfor %}.net software development blog" />
    <meta name="description" content="{{ page.title }}" />
    <meta name="application-name" content="Arindam Pradhan"/> 
    <meta name="msapplication-TileColor" content="#0066cc"/> 
    <meta name="msapplication-TileImage" content="/img/portrait.png"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rrindam">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image:src" content="https://en.gravatar.com/userimage/63709792/97886c5665a210192809afe773e3400a">
    <title>{{ page.title }} &#8211; PersonalBlog</title>
    <link rel="alternate" type="application/atom+xml" title="arindam2u.com atom feed" href="/feed/" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/style.css" rel="stylesheet" media="screen" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/css/code.css" rel="stylesheet" />
  </head>
  <body background="/img/back1.jpg">
    <div class="container">
      <div class="container-fluid">
        <div class="masthead">
          <div class="nav nav-pills pull-right">
            <div class='ribbon'>
                <a href='/'><span><strong>Home</strong></span></a>
                <a href='/archive/'><span><strong>Archive</strong></span></a>
                <a href='/about/'><span><strong>About</strong></span></a>
                <a href='https://github.com/arindampradhan/'><span><strong>Code</strong></span></a>
            </div>
          </div>
          <a href="/" title="Home"><h1 id ="yo">Arindam Pradhan</h1></a>
          <div id="site-description">
            I'd rather sip coffee in sweat pants ,cuddle on the couch ,watch movies play games and program in freetime...!!
          </div>
        </div>
        <hr />
        <div class="row-fluid" >
          <div id="side" class="span2" >
            <div id="sidebar">
            <div id="logo-panel">
              <a href="/about/" title="About me">
                <img id="logo" src="https://en.gravatar.com/userimage/63709792/4e2a7df4fad0b84f6b529d4e1856659b.jpg" alt="Arindam Pradhan" width="100" height="100" />
              </a>
            </div>
            <style tyle="text/css">
            #logo{
              -webkit-transition:All 0.1s ease-in-out;
            }
              #logo:hover{
                width: 103px;
                height: 103px;
              }
            </style>
            <div class="sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Follow</li>
                <li>
                  <a href="http://twitter.com/rrindam">Twitter</a>
                </li>
                <li>
                  <a href="http://github.com/arindampradhan/">Github</a>
                </li>
                <li>
                  <a href="/feed/">Feed</a>
                </li>
                <li class="nav-header">Projects</li>
                <li>
                  <a href="https://github.com/arindampradhan/Vim_Config">Vim_config</a>
                </li>
                <li>
                  <a href="https://github.com/arindampradhan/frame_test">Frame_test</a>
                </li>
                <li>
                  <a href="https://github.com/arindampradhan/py_projects">Py_projects</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
          
          <div id="content" class="span8" >
            <div>
              {{ content }}
              <br/><br/>
            </div>           
          </div>
          <div id="side2" class="span2">
            <div id="sidebar">
              <div id="tags">
                {% for tag in site.tags %}
                <a href="/tags/#{{ tag[0] | replace:' ','%20' }}"><span class="badge" style="margin-top:2px;font-size: {{ tag[1] | size | minus:1 | times:4 | plus:12 }}px;line-height:{{ tag[1] | size | minus:1 | times:4 | times:14 | divided_by:12 | plus:14 }}px">{{ tag[0] }}<span class="tag-count" style="font-size: {{ tag[1] | size | minus:1 | times:4 | plus:12 | times:0.6  }}px;"> {{ tag[1] | size }}</span></span></a><span> </span>
                {% endfor %}
              </div>
             
                  <br/>
                  <div >                    
                  <div id="tweets" class="container-fluid">
                    <section><a class="twitter-timeline" href="https://twitter.com/rrindam" data-widget-id="477053920343097344">Tweets by @rrindam</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></section>
                  </div>
                </div>      
              <!-- side -->
              
              
            </div>
          </div>  
          
          


        </div>
        <hr />
        <div class="footer">
          <p>Disclaimer: Well these are my personal openion and I don't think everyone will have the same one.So,hope you agree and disagree.Well you can always comment.</p>
          <p>Powered by <a href="http://pages.github.com/">GitHub Pages</a> and <a href="http://jekyllrb.com/">jekyll</a> and <a href="http://getbootstrap.com/2.3.2/">bootstrap</a>. 
          </p>
          <p>
            <a href="https://github.com/arindampradhan/blog_rupter">Fork me on GitHub</a>.
          </p>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src='/js/prettify.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function () {
            $("pre code").parent().each(function () {
                if (!$(this).hasClass("prettyprint")) {
                    $(this).addClass("prettyprint");
                    a = true
                }
            });

            prettyPrint();
        });
    </script>
        <script type="text/javascript">
        if ( $(window).width() > 960) {
     
        $(function() {
            var offset = $("#sidebar").offset();
            var topPadding = 15;
            $(window).scroll(function() {
                if ($(window).scrollTop() > offset.top) {
                    $("#sidebar").stop().animate({
                        marginTop: $(window).scrollTop() - offset.top + topPadding
                    });
                } else {
                    $("#sidebar").stop().animate({
                        marginTop: 0
                    });
                };
            });
        });
      }
    </script>
<!-- Tracking ID UA-54765588 -->-1
 
<script type='text/javascript'>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54765588-1', 'auto');
  ga('send', 'pageview');

</script>


  </body>
</html>